
.contact{
    ul{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
            i{
                color: #ca1515;
                font-size: 13px;
                margin-right: 5px;
            }
            
        }
    }
}