nav .container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse ul li a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: #666666;
    padding: 2px 0;
}

form{
        .color{
            color: #e3c01c!important;
        }
}