
.man_search{
    
    input{
        height: 42px;
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 50px;
        padding-left: 30px;
        font-size: 14px;
        color: #666666;
    }

}

.form-select{
    border: none;
}