
p{
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.footer_widget {
    ul{
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        
            a{
                font-size: 14px;
                color: #666666;
                line-height: 30px;
                text-decoration: none;
                background-color: transparent;
            }
        }    
    }
   
}

.footer_newsletter {
    form{
        position: relative;
        input{
            height: 52px;
            width: 100%;
            border: 1px solid #e1e1e1;
            border-radius: 50px;
            padding-left: 30px;
            font-size: 14px;
            color: #666666;
        }
    
        button {
            position: absolute;
            right: 4px;
            top: 4px;
        }
    
        .site-btn{
            font-size: 14px;
            color: white;
            background: #ca1515;
            font-weight: 600;
            border: none;
            padding: 12px 30px;
            border-radius: 50px;
        }    
    }
    .footer_social a{
        display: inline-block!important;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 15px;
        background: #e1e1e1;
        color:#111111;
        line-height: 40px;
        text-align: center;
        margin-right: 6px;
        margin-bottom: 5px;
    }
}
  
.footer_copyright_text {
    border-top: 1px solid #e1e1e1;
    text-align: center;
    padding: 18px 0 25px;
    margin-top: 35px;

    a{
        text-decoration: none;
        color:#5c5c5c ;
    }
}