
.logo{
    h4{
        color: rgb(189, 41, 41);
        font-size: 22px;
        font-weight: 600;
        margin-top: 3px;
    }
}

.women_search{
    
    input{
        height: 42px;
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 50px;
        padding-left: 30px;
        font-size: 14px;
        color: #666666;
    }
}